@media (min-width: 300px) {
    div {
      font-size: 20px;
    }
  }
body{
    background-color: #AAB8AB;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS";
}
.index{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto;
    border-radius: 20px;
    text-align: center;
}
input{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #999;
    outline: none;
}
button{
    color: black;
    width: 40%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
button:hover{
    background: #A7B7AA;
}
input{
    color: black;
    width: 40%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
input:hover{
    background: #A7B7AA;
}