<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>番薯國碳制郎</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link href="{% static 'css/signin.css'%}" rel="stylesheet">
</head>
<body>
    <div class="index">
        <h1>番薯國碳制郎</h1><hr><br>
        <a href="{{ firstLogin }}"><button type="button" class="btn btn-outline-success" style="background-color:#00c300;">LINE登入</button></a>
        <p>驗證前請詳閱<a href="/GDPR/">個資使用說明</a></p>
    </div>
</body>
</html>